body {
  background: #58a;
  background-image:
    linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0,0%,100%,.3)1px, transparent 0),
    linear-gradient(90deg,hsla(0,0%,100%,.3)1px,transparent 0);
  background-size: 75px 75px, 75px 75px,
                   15px 15px, 15px 15px;
}

.hero {
  background: pink;
  text-align: center;
  height: 100vh;
  background: url('../images/buildings.jpg') no-repeat top center;
  background-size: cover;

  &__heading--container {
    background: black;
    border: 2px solid white;
    height: em(250px);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    opacity: .5;
  }

  &__heading {
    position: relative;
    top: 36%;
    font-size: em(35px);
    padding: 0;
    margin: 0;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;

    @media screen and (min-width: 700px) {
      top: 35%;
      font-size: em(65px);
      letter-spacing: 13px;
    }

    @media screen and (min-width: 1000px) {
      font-size: em(80px);
      top: 35.5%;
    }
  }

  &__subheading {
    position: relative;
    top: 53%;
    left: 50%;
    background: white;
    width: em(300px);
    padding: 5px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    border-top: 5px solid royalblue;
    font-size: em(12px);
    color: #6C9ADA;

    @media screen and (min-width: 700px) {
      top: 48%;
      font-size: em(15px);
    }

    @media screen and (min-width: 1000px) {
    }
  }
}

/*.container {
   @include container;
   background: linear-gradient(white ,#76B8E4);
   opacity: .9;
   overflow: auto;
   border: 2px solid red;
   width: 100%;
}
*/

.text {
  padding: em(3px);
  font-size: em(14px);
}


.info {
  @include container;

  &__image {
    @include span(6 of 12);
      border-top: 2px solid white;
  }

  &__text {
    @include span(6 of 12 last);
    background: linear-gradient(to top,white ,#76B8E4);
  }

  a {
    @include span(12 of 12);
    text-align: center;
    padding: em(15px);
    text-decoration: none;
    background: #76B8E4;
    color: white;
    text-transform: uppercase;
  }
}


.project {
  @include container;

  &__image {
    @include span(6 of 12 last);
    border-top: 2px solid white;
  }

  &__text {
    @include span(6 of 12);
      background: linear-gradient(45deg,white ,#76B8E4);
  }


    a {
      @include span(12 of 12);
      text-align: center;
      padding: em(15px);
      text-decoration: none;
      background: #76B8E4;
      color: white;
      text-transform: uppercase;
    }
}


@media screen and (min-width: 780px) {

  .wrapper {
    @include container(85%);
  }

  .info {
      @include span(3 of 12);
      margin-top: -20px;

      &__image {
        @include span(12 of 12);
      }

      &__text {
        @include span(12 of 12);
      }
  }

  .project {
    @include span(3 of 12);
    margin-top: -20px;

    &__image {
      @include span(12 of 12);
    }

    &__text {
      @include span(12 of 12);
    }

    &:nth-child(3n){
      @include span(last 3 of 12);
  }
}

}

  .title {
    text-transform: uppercase;
    margin-left: em(10px);
  }

  .heading {
    margin-left: em(30px);
    font-size: em(10px);
    text-transform: uppercase;
  }

  .about {
    text-align: center;
    margin-left:0;
  }

  hr {
    width: 100px;
    border: 0;
    border-top: 1px solid blue;
  }
